
/* Estilos personalizados */
.imagen-lateral {
    background-image: url('../img/profile2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeInImage 5s forwards;
}

@keyframes fadeInImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Muy importante quitar height*/
.contenedor-principal {
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* height: 90vh; Quitamos el alto fijo */
}

.menu-item {
    position: relative;
    padding-bottom: 0.5rem;
    display: inline-block;
}

.menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.menu-item.active::after {
    width: 100%;
}

.menu-item.active {
    width: 100%;
    font-size: 1.25rem;
    color: black;
}

/* Importante: Estilos para el scroll individual */
.contenido-seccion {
    opacity: 1;
    transition: opacity 0.5s ease;
    visibility: visible;
    max-height: 70vh;
    /* Altura máxima antes de que aparezca el scroll.  Ajusta según necesites. */
    overflow-y: auto;
    /* Habilita el scroll vertical */
    padding-right: 1rem;
    /* Para evitar que el contenido se solape con la barra de scroll */

}

.contenido-seccion.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition-delay: 0s;
    max-height: 0;
    /* Importante para ocultar completamente */
    overflow-y: hidden;
    /* Evita scroll cuando está oculto */

}

.contenido-seccion.fade-in {
    visibility: visible;
    transition-delay: 0.5s;
}

#greeting {
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.bio-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bio-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    /*Centrar verticalmente*/
    justify-content: flex-start;
    /*Alinear en un lado*/
}

.bio-icons a {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    display: inline-flex;
    /*Para centrado vertical con padding y transform*/
    align-items: center;
    justify-content: center;
    width: 40px;
    /*Ancho fijo para hacerlos circulares*/
    height: 40px;
    /*Alto fijo para hacerlos circulares*/
    border-radius: 50%;

}

.bio-icons a:hover {
    color: #0077b5;
}

.bio-icons a:hover i {
    transform: scale(1.1);


}

.bio-text {
    max-width: 80%;

}

.trayectoria-container {
    position: relative;
    padding-left: 2rem;
    /* padding-right: 2rem; Ajuste para separarlo*/
}

.trayectoria-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    background-color: black;
    height: 0;
    transition: height 1s ease;
}

.trayectoria-line.line-complete {
    height: 100%;
}

/*Para resetear la animacion*/
.trayectoria-line.reset-animation {
    height: 0;
    transition: none;
    /*Muy importante desactivar la transicion*/
}

.trayectoria-item {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1rem;
}

.trayectoria-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transform: translateY(0%);
}

.animate-trayectoria .trayectoria-item {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.75s ease;
}

.animate-trayectoria .trayectoria-item.item-visible {
    opacity: 1;
    transform: translateX(0);
}

/*Para resetear animacion, desactivamos la transicion, y ponemos valores iniciales*/
.animate-trayectoria .trayectoria-item.reset-animation {
    opacity: 0;
    transform: translateX(-20px);
    transition: none;
}


.skill-item {
    margin-bottom: 1rem;
    /* Espacio entre items */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribuye el espacio */

}

.skill-name-container {
    display: flex;
    align-items: center;
    /* Alinea verticalmente el icono y el texto */
}


.skill-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    /*Más importante en este caso*/

}

.skill-name {
    font-weight: bold;
}



.skill-level {
    display: flex;
    align-items: center;
}

.skill-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cbd5e0;
    /* Color gris claro para puntos inactivos */
    margin-right: 6px;
    /* Espacio entre puntos */
    display: inline-block;
    /* Para que los puntos estén en línea */
}

.skill-dot.active {
    background-color: #2d3748;
    /* Color más oscuro para puntos activos */
}

/* Estilos para los contenedores de skills */
.skills-section {
    margin-bottom: 2rem;
    /* Espacio entre secciones */
}

.skills-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    /* Espacio debajo del título */
    border-bottom: 2px solid #2d3748;
    /* Línea debajo del título */
    padding-bottom: 0.5rem;
    /* Espacio entre la línea y el texto */
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columnas */
    gap: 2rem;
    /* Espacio entre columnas y filas */
    padding: 1rem;
    /* padding-right: 2rem;  Ajuste para el scroll, evitar overlap */
}

/*Clases para los niveles*/

.begginer .skill-dot:nth-child(1) {
    background-color: #2d3748;
}
.advanced .skill-dot:nth-child(-n+2) {
    background-color: #2d3748;
}

.professional .skill-dot:nth-child(-n+3) {
    background-color: #2d3748;
}

.expert .skill-dot:nth-child(-n+4) {
    background-color: #2d3748;
}


