:root{
    --gradiente_esfera: radial-gradient(circle, rgba(221,89,213,0.938813025210084) 10%, rgba(251,166,246,0.8687850140056023) 89%);
    --gradiente_varde :radial-gradient(circle, rgba(89,221,95,0.938813025210084) 10%, rgba(166,251,169,0.8687850140056023) 89%);
    --fondo_verde: rgb(89,221,95);
    --gradiente_rojo:radial-gradient(circle, rgba(236,18,55,0.938813025210084) 14%, rgba(251,186,166,0.8687850140056023) 79%, rgba(249,28,35,1) 93%);
}

html{
    font-family: 'Open Sans', sans-serif;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.76234243697479) 17%, rgba(240,170,236,0.6811099439775911) 51%, rgba(221,62,212,0.6194852941176471) 96%);
min-width: 50%;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-width: 50%;
    min-height: 50%;
}

#webcam-container {
    position: absolute;
    z-index: -1;
    width: 60%;
    height: auto;
    display: none;

}

#image-container{
    display:flex;
    position: absolute;
    z-index: -1;
    height: auto;
    border-radius: 100%;
    justify-content: center;    
    align-items: center;
}
#bannerLogo{
border-radius: 100%;

}
#camaraSelector-container {
    position: absolute;
    top: 0%;
    left: 0px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

#webcam {
    width: 100%;
    height: 100%;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    overflow: hidden;
    transform: scaleX(-1);
}



.esferas-container {
    position: absolute;
    width: auto;
    height: auto;
    top:10%;
    left:30%;
    
    
}

.esfera {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size: 60px;
    color: white;
    cursor: pointer;
    pointer-events: none;
    background:transparent;
    background: var(--gradiente_esfera);
    border: 0.5px solid #000000;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.5px #ffffff;
}


.timer-esfera {

    transform: translateY(-50%);
    width: 70%;
    height: 70%;
    min-height: 150px!important;
    min-width: 200px!important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    margin-bottom: 0%;
    border-radius: 50%;
    background: rgb(255,54,244);
    background: radial-gradient(circle, rgba(255,54,244,1) 0%, rgba(193,22,174,1) 78%, rgba(177,15,160,1) 100%);
    border: 0.5px solid #000000;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.5px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;

}
@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.esfera.selected {
    animation: blink-animation 1s infinite;
}

.esfera.green {
    background: var(--fondo_verde);
    background: var(--gradiente_varde);
    border: 0.5px solid #000000;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.5px #ffffff;
}

.esfera.red {
    background: rgb(255,124,54);
    background: var(--gradiente_rojo); 
    border: 0.5px solid #000000;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.5px #ffffff;
}
button
{
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
}

.buttonsL {
    position: absolute;
    top: 80%;
    left: 20px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.buttonsR {

    position: absolute;
    top: 80%;
    right: 20px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.LogoThera {
    position: absolute;
    top: 10%;
    right: 100px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}



.timer {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background: none;
    opacity: 10;
}

#contador {
    font-size: 60px;
    font-weight: bold;
    text-align: center;

}
#contenedorContador{
    height: 40%;
    width: 20%;
    min-height: 300px!important;
    min-width: 150px!important;
    position : absolute;
    left:2%;
    bottom: 15%;
    display: table-column;
    align-items: center;
    justify-content: center;


}
.contador-palabras {


    transform: translateY(-50%);
    width: 100%;
    height: 25%;
    min-width: 200px;
    min-height: 100px;
    background: rgb(208,59,245);
    background: radial-gradient(circle, rgba(208,59,245,1) 9%, rgba(221,62,212,1) 66%, rgba(198,44,189,1) 100%);border: 0.5px solid #000000;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.5px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
